# Application

NODE_ENV=production

# Database

POSTGRES_USER=tether
POSTGRES_PASSWORD=change-me
POSTGRES_DB=mini_tether

DATABASE_URL=postgresql://tether:change-me@postgres:5432/mini_tether


# Blockchain

RPC_URL=http://host.docker.internal:8545


# Authentication

JWT_SECRET=change-me


# Worker

CONFIRMATION_INTERVAL_MS=5000


# Images

IMAGE_TAG=latest