NODE_ENV=development

PORT=3000
WORKER_METRICS_PORT=3001

DATABASE_URL="postgresql://tether:tether@localhost:65432/mini_tether"

RPC_URL=http://127.0.0.1:8545

PRIVATE_KEY=0xac097.....

JWT_SECRET=change-me

LOG_LEVEL=info

PROMETHEUS_ENABLED=true

RPC_TIMEOUT_MS=5000
RPC_MAX_RETRIES=3
RPC_RETRY_DELAY_MS=500

KMS_PROVIDER=local
LOCAL_KMS_MASTER_KEY=abcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcd

CONFIRMATION_BACKOFF_DELAY_MS=5000
CONFIRMATION_LOCK_DURATION_MS=30000
CONFIRMATION_STALLED_INTERVAL_MS=10000
CONFIRMATION_MAX_STALLED_COUNT=1

