NODE_ENV=development

PORT=3000
WORKER_METRICS_PORT=3001

DATABASE_URL="postgresql://tether:tether@localhost:65432/mini_tether"

JWT_SECRET=change-me

RPC_URL=http://127.0.0.1:8545

PRIVATE_KEY=0xac097......

ADMIN_ADDRESS=...

TOKEN_ADDRESS=0x9f...

MOCK_BLOCKCHAIN=true

KMS_PROVIDER=local
LOCAL_KMS_MASTER_KEY=abcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcd

REDIS_URL=redis://127.0.0.1:6379

CONFIRMATION_BACKOFF_DELAY_MS=500
